body {
    color: aliceblue;
    background-color: rgb(5, 11, 26);
}



div {
    color: aliceblue;
    background-color: rgb(3, 26, 42);
}

.divheading {
     width: 73%; 
     background-color: rgba(40, 59, 69, 0.83);
     border-radius: 15px;
     padding-top: 1%; padding-left: 2%; padding-right: 2%; padding-bottom: 1%;
     text-align: left;
     margin-top: 2%; margin-bottom: 2%; margin-right: 2%;
}


.textareaservices {
    width: 5cm; height: 4cm;
    background-color: rgb(2, 14, 42);
    border-color: rgb(1, 31, 102);
    margin-left: 2%; margin-right: 2%; 
    border-radius: 10px;
    color: whitesmoke;
    
}

.textareamyworks {
    width: 75%; height: 10%;
    background-color: rgb(2, 14, 42);
    border-color: rgb(1, 31, 102);
    margin-left: 10%; margin-right: 10%; margin-top: 5%; margin-bottom: 5%;
    border-radius: 25px;
}

.divanchor {width: 70%; height: 1cm;
    background-color: rgba(1, 42, 80, 0.616);
    border-radius: 15px;
    padding-left: 1cm;
}

.picture {
    width:150px; height:200px; 
    position:absolute; top:20px; right:30px;
    background-color: black;
    border-color: black;
}

.divabout {
    background-color: rgba(36, 36, 114, 0.389);
    border-radius: 8px;
    padding-top: 3%; padding-bottom: 3%; padding-left: 3%; padding-right: 3%;
    text-align: center; font-size: 20px;
    width: 90%; 
    margin-left: 2.5%; margin-right: 5%;
}



.divservices {
    background-color: rgba(36, 36, 114, 0.389);
    border-radius: 8px;
    height: fit-content; width: 90%;
    margin-left: 5%; margin-right: 5%;
    padding-top: 3cm; padding-bottom: 3cm; padding-left: 1cm; padding-right: 1cm;
}

.divmyworks {
    background-color: rgba(36, 36, 114, 0.389);
    border-radius: 8px;
    height: fit-content; width: 90%;
    margin-left: 5%; margin-right: 5%;
}







.about {text-align: center;
}

.services {
    text-align: center;
}

.myworks {
    text-align: center;
}