body {
    color: aliceblue;
    background-color: rgb(5, 11, 26);
}
div {
    color: aliceblue;
    background-color: rgb(3, 26, 42);

}
textarea {
    background-color: rgb(2, 14, 42);
    border-color: rgb(2, 14, 42);
}